.wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.favoritesEmpty{
  font-size: 30px;
  color: #ff9100;
  text-transform: uppercase;
}
.toHome{
  color: #ff9100;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.modalFooter {
  padding: 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 100px;
    margin: 0 30px;
    .l {
      width: 100px;
      margin: 0 30px;
    }
  }
}
