//.wrapper {
//  margin-top: 50px;
//  display: flex;
//  justify-content: space-around;
//  flex-wrap: wrap;
//}
//.favoritesEmpty{
//  font-size: 30px;
//  color: #ff9100;
//  text-transform: uppercase;
//}
//.toHome{
//  color: #ff9100;
//  font-weight: bold;
//  text-align: center;
//  display: flex;
//  align-items: center;
//  margin-top: 20px;
//}

.img{
  width: 70px;
}
.cartToCard{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.productName{
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
}
.price{
  font-weight: bold;
}
.color{
  //font-size: 14px;
  //font-weight: bold;
}
.code{
  //font-size: 10px;
  //font-weight: bold;
}
.calc{
  font-size: 18px;
display: flex;
justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  &:hover{
    border: 1px solid #00000082;
  }
}

.increment, .decrement{
  margin: 0 5px;
  &:hover{
    color: #ff9100;
    cursor: pointer;
  }
}
.value{
  margin: 2px;
}

.total{
  font-size: 18px;
  //font-weight: bold;
}

.remove{
  color: rgba(9, 9, 9, 0.44);
  &:hover{
    color: rgba(255, 0, 0, 0.62);
    cursor: pointer;
  }
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout{
  font-size: 25px;
  height: 50px;
  width: 200px;
}



.wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.favoritesEmpty{
  font-size: 30px;
  color: #ff9100;
  text-transform: uppercase;
}
.toHome{
  color: #ff9100;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.modalFooter {
  padding: 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 100px;
    margin: 0 30px;
    .l {
      width: 100px;
      margin: 0 30px;
    }

  }
}

.totalValue{
  //width: 350px;
}
